//* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .nav a, .nav li, .card{
    float: none;
    display: block;
  }
}

nav {    
  display: block;
  text-align: center;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  float: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}
.nav a {
  display: block; 
  background: black; 
  color: white; 
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  border-radius: 6px;
}
.nav li {
  position: relative;
  min-width: 180px;
}
.nav > li { 
  float: left; 
  border-bottom: 4px white solid; 
  margin-right: 1px; 
  text-decoration: none;
} 
.nav > li > a { 
  margin-bottom: 1px;
}

.nav > li > a:hover { 
 font-weight:bold;
 background: #191970;

}
.nav > li:hover { 
  border-bottom-color: black;
}

.nav li li a { 
  margin-top: 1px;
}



